.venv
__pycache__
*.parquet
data/checkpoints/**/*
data/datasets/**/*
data/training_log/**/*
data/training_monitor/**/*
!data/datasets/datasets.json
hf_cache
.claude/
data/corpus/tinystories_dialogue/**/*
data/corpus/tinystories_dialogue_test/**/*
.env